<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-4">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <h1 class="mb-2">Rutik K Patel</h1>
            <p class="text-muted mb-4">@Programmer </p>
            <p class=" mb-4">E-mail : <%= current_user.email %> </p>
            <p class=" mb-4">Stripe Customer id : <%= current_user.stripe_customer_id %> </p>
            <div class="d-flex align-items-center justify-content-around">
              <%= button_to "Billing Portal", billing_portal_create_path, class:"btn btn-primary rounded btn-lg" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-warning rounded btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
