<%#------------ Home Section Start Here ------------%>
<section id="home">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://source.unsplash.com/random/800x600/?resume" class="d-block mx-lg-auto img-fluid" alt="mainbackground" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h4 class="slogan-line">Easiest, Convenient, Fastest</h4>
        <h1 class="display-5 fw-bold lh-1 my-4">RESUME MAKER</h1>
        <p class="lead"> With the use of our online resume builder, you can identify the qualities that employers are seeking and select the precise words and phrases to quickly attract their attention.</p>
        <p class="lead"> Wanna build a resume and this resume maker website that does the job for you.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <%= link_to "Create Now", resumelist_path, class:"btn btn-primary btn-lg px-4 me-md-2" %>
        </div>
      </div>
    </div>
  </div>
</section>
<%#------------ Home Section End Here ------------%>
<%#------------ Steps To Build Resume Start Here ------------%>
<section class="resume-steps my-5">
  <div class="text-center text-lg-start bg-light text-muted">
    <section class="py-2">
      <h1 class="text-center p-4"> STEPS TO CREATE YOUR PERFECT RESUME </h1>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 steps-div">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-user fa-5x me-3"></i>
            </h6>
            <p>
              LOGIN and SIGNUP
            </p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 steps-div">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-file-text fa-5x me-3"></i>
            </h6>
            <p>
              CHOOSE RESUME TEMPLATE
            </p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 steps-div">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-edit fa-5x me-3"></i>
            </h6>
            <p>
              FILL THE FORM
            </p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 steps-div">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-gift fa-5x me-3"></i>
            </h6>
            <p>
              RESUME IS READY
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<%#------------ Steps To Build Resume End Here ------------%>
