<%#------------ Home Section Start Here ------------%>
<section id="home" class="my-5">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://source.unsplash.com/random/800x600/?resume" class="d-block mx-lg-auto img-fluid" alt="mainbackground" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h4 class="slogan-line">Easiest, Convenient, Fastest</h4>
        <h1 class="display-5 fw-bold lh-1 my-4">RESUME MAKER</h1>
        <p class="lead"> With the use of our online resume builder, you can identify the qualities that employers are seeking and select the precise words and phrases to quickly attract their attention.</p>
        <p class="lead"> Wanna build a resume and this resume maker website that does the job for you.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <%= link_to "Create Now", resumelist_path, class:"btn btn-primary btn-lg px-4 me-md-2" %>
        </div>
      </div>
    </div>
  </div>
</section>
<%#------------ Home Section End Here ------------%>
<%#------------ Steps To Build Resume Start Here ------------%>
<section id="steps" class="my-5">
  <div class="text-center text-lg-start bg-light text-muted">
    <section class="py-5 hero-image">
      <h1 class="text-center p-4"> STEPS TO CREATE YOUR PERFECT RESUME </h1>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 steps-div">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-user fa-5x me-3"></i>
            </h6>
            <p>
              LOGIN and SIGNUP
            </p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 steps-div">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-file-text fa-5x me-3"></i>
            </h6>
            <p>
              CHOOSE RESUME TEMPLATE
            </p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 steps-div">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-edit fa-5x me-3"></i>
            </h6>
            <p>
              FILL THE FORM
            </p>
          </div>
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 steps-div">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-gift fa-5x me-3"></i>
            </h6>
            <p>
              RESUME IS READY
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<%#------------ Steps To Build Resume End Here ------------%>
<%#------------ Testinomals Section Starts Here ------------%>
<section id="testinomals" class="container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h1 class="text-center p-4"> TESTINOMALS </h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <%= image_tag("itachi.png") %>
      </div>
      <h5 class="mb-3">Itachi Uchiha</h5>
      <h6 class="text-primary mb-3">Software Engineer</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic
        tenetur.
      </p>
    </div>
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="d-flex justify-content-center mb-4">
        <%= image_tag("naruto.jpg") %>
      </div>
      <h5 class="mb-3">Naruto Uzumaki</h5>
      <h6 class="text-primary mb-3">Data Scientist</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>Ut enim ad minima veniam, quis nostrum
        exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.
      </p>
    </div>
    <div class="col-md-4 mb-0">
      <div class="d-flex justify-content-center mb-4">
        <%= image_tag("sasuke.png") %>
      </div>
      <h5 class="mb-3">Sasuke Uchiha</h5>
      <h6 class="text-primary mb-3">Graphic Designer</h6>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i>At vero eos et accusamus et iusto odio
        dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
      </p>
    </div>
  </div>
</section>
<%#------------ Testinomals Section End Here ------------%>
