 <!-- Nested Form of hobby for f -->
<div class="nested-fields">
  <%= f.label :hobby2, "Hobby", class: "mt-3" %>
  <div class="d-flex">
    <%= f.text_area :hobby2, placeholder: "Your Hobby", class: "mb-3 form-control" %>
    <%= link_to_remove_association fa_icon("trash"), f, class:"btn-danger border-0 rounded-pill shadow px-3 py-2 mx-2 text-decoration-none", style:"height:100%;" %>
  </div>
</div>
