* {
  box-sizing: border-box;
  transition: .35s ease
}

.block-relative {
  display: block;
  position: relative;
  margin: auto
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 88%
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 28px;
  background-size: cover
}

.navbar img{
  width: 4rem;
}

body:before {
  /* content: ""; */
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .92)
}

.set-center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .slogan-line{  
  letter-spacing: 2px;
}

#home .btn:hover{  
  background-color: orange;
  color: black;
  border-color: orange;
}

/* Change the look of links under p tag */
p a{
  text-decoration: none;
}

/* Pricing Card CSS */
.checkout-card:hover{
  transform: scale(1.1);
}

/* Profile Card CSS */
.profile-image img{
  width: 50%;
}

/* ResumeList Style */
.resumelist-main{
  margin: 2rem;
}
.resumelist-main .temp3 img{
  height: 685px;
}

.steps-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}