/* 
body {
  background-image: linear-gradient(#636162, #b1afaf);
  height: 122vh;
  font-weight: bold;
  letter-spacing: 2px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
} */

.resume2{
  background-color: white;
  height: auto;
  width: 650px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 70%;
  margin-top: 2rem;
}

.resume2 .left {
  background-color: var(--lightred);
  width: 200px;
  height: 100%;
  float: left;
}

.resume2 .right {
  width: 450px;
  float: left;
}

.resume2 .profile-img {
  height: 180px;
  width: 180px;
  background-color: #ddd;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 60px;
  border: 10px solid var(--lightred);
  box-shadow: 6px 7px 9px 5px #ff848473;
}

.resume2 .profile-img img {
  width: 100%;
  border-radius: 50%;
}

.resume2 .box-1 {
  position: relative;
}

.resume2 .heading {
  background-color: #3e3e3e;
  padding: 10px;
  color: var(--lightred);
  text-align: left;
  padding-left: 20px;
  margin-right: -15px;
}

.resume2 .heading::after {
  content: '';
  position: absolute;
  width: 21px;
  height: 18px;
  background-color: #5a5959;
  left: 191px;
  top: 26px;
  transform: rotate(56deg);
  z-index: -1;
}

.resume2 .p1 {
  padding: 9px 10px;
  font-size: 11px;
}

.resume2 .icons1 {
  font-size: 16px !important;
  padding-right: 10px !important;
  vertical-align: sub;
}

.resume2 .skill-container {
  width: 90%;
  background-color: #4d4d4d;
  margin: 0px 10px;
}

.resume2 .skill {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
}

.resume2 .html {
  width: 90%;
  background-color: white;
}

.resume2 .css {
  width: 80%;
  background-color: white;
}

.resume2 .js {
  width: 85%;
  background-color: white;
}

.resume2 .jquery {
  width: 80%;
  background-color: white;
}

.resume2 .web {
  width: 85%;
  background-color: white;
}

.resume2 .gra {
  width: 70%;
  background-color: white;
}

.resume2 .icons2 {
  padding: 18px 10px;
}

.resume2 .name-div {
  padding: 86px 0px 60px 55px;
  text-align: center;
  letter-spacing: 3px;
}

.resume2 .name-div h1 {
  margin-bottom: 10px;
}

.resume2 .box-2 {
  padding: 0px 50px;
  margin-top: 30px;
}

.resume2 .p2 {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 18px;
  margin-top: 5px;
}

h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

.resume2 .icons3 {
  vertical-align: bottom;
  font-size: 21px !important;
  color: #4d4d4d;
}

.resume2 .p3 {
  font-size: 13px;
  word-spacing: 1px;
  letter-spacing: 0px;
  margin-top: 10px;
}

.resume2 .p3 span {
  color: #b30000;
  padding-left: 20px;
}