<h2 class="text-center mt-5"> ResumeMaker Subscription Prices</h2>
<div class="pricing-card">
  <div class="d-flex justify-content-around">
    <div class="card text-center shadow" style="width: 24rem;">
      <div class="card-body bg-warning">
        <h5 class="card-title text-light">Basic</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Rs 300 / year</li>
        <li class="list-group-item">2 Templates</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Buy Now</a>
      </div>
    </div>
    <div class="card text-center shadow" style="width: 24rem;">
      <div class="card-body bg-success">
        <h5 class="card-title text-light">Pro</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Rs 400 / year</li>
        <li class="list-group-item">4 Templates</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Buy Now</a>
      </div>
    </div>
    <div class="card text-center shadow" style="width: 24rem;">
      <div class="card-body bg-danger">
        <h5 class="card-title text-light">Premium</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Rs 600 / year</li>
        <li class="list-group-item">6 Templates</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Buy Now</a>
      </div>
    </div>
  </div>
</div>
