<div class="footer">
  <footer class="text-center text-lg-start bg-light text-muted">
    <section class="pt-5">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-th-large me-3"></i>RESUME MAKER
            </h6>
            <p>
              Save time by using the simplest online resume maker. Create a strong Resume in just a few minutes to land the job of your dreams.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Resumes
            </h6>
            <p>
              <a href="#!" class="text-reset">Resume 1</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Resume 2</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Resume 3</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Resume 4</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">How it works?</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Testinomals</a>
            </p>
            <p>
              <a href="#!" class="text-reset">About</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              NewsLetter
            </h6>
            <div class="form-outline mb-4">
              <input type="email" id="form5Example25" class="form-control" placeholder="Enter Email Here..." />
            </div>
            <%= button_to "Subscribe", root_path, class:"btn btn-success" %>
          </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2022 Copyright - Made by 
          <a class="text-reset fw-bold" href="https://github.com/rutikpatel20">Rutik Patel</a>
        </div>
      </footer>
    </div>
  </div>
</div>
